@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* HeroesComponent's private CSS styles */
h2 {
  font-family: 'Poppins', sans-serif;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes {
  display: flex;
  justify-content: space-around;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 2.1em;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #DCCCFF;
}

.heroes a:active {
  background-color: #B82117;
  color: #fafafa;
}

.heroes .badge {
  font-family: 'Titillium Web', sans-serif;

  display: inline-block;
  font-size: medium;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .name {
  font-family: 'Archivo', sans-serif;
  align-self: center;
  font-size: 16px;
}

.add-button {
  border: none;
  border-radius: 5px;
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #5DA399;
}

button.delete {
  border: none;
  position: absolute;
  top: 0;
  right:-10px;
  background-color: #D24B6D;
  border-radius: 50%;
  color: white;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #63192C;
  color: white;
}