@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* HeroesComponent's private CSS styles */
h2{
  font-family: 'Poppins', sans-serif;
}
.heroes {
  display: flex;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

.heroes button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: stretch;
  height: 2.5em;
}

.heroes button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.heroes button:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes button.selected {
  background-color:#B82117;
  color: white;
}

.heroes button.selected:hover {
  background-color: #f6343c;
  color: white;
}

.heroes button.selected:active {
  background-color: #471E2F;
  color: white;
}

.heroes .badge {
  font-family: 'Titillium Web', sans-serif;

  display: inline-block;
  font-size: large;
  color: white;
  background-color: #405061;
  margin-right: .8em;
  line-height: 2em;
  vertical-align: middle;
  border-radius: 10px;
  width: 2em;
}


.heroes .name {
  font-family: 'Archivo', sans-serif;
  align-self: center;
  font-size: 16px;
}