@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* HeroesComponent's private CSS styles */
h2{
  font-family: 'Poppins', sans-serif;
}
.heroes {
  display: flex;
  justify-content: space-around;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 2.1em;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #B82117;
  color: #fafafa;
}

/* .heroes button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: stretch;
  height: 2.5em;
}

.heroes button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.heroes button:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes button.selected {
  background-color:#B82117;
  color: white;
}

.heroes button.selected:hover {
  background-color: #f6343c;
  color: white;
}

.heroes button.selected:active {
  background-color: #471E2F;
  color: white;
} */

.heroes .badge {
  font-family: 'Titillium Web', sans-serif;

  display: inline-block;
  font-size: medium;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  /* background-color: #405061;
  margin-right: .8em;
  line-height: 2em;
  vertical-align: middle;
  border-radius: 10px;
  width: 2em; */
}


.heroes .name {
  font-family: 'Archivo', sans-serif;
  align-self: center;
  font-size: 16px;
}